@mixin company {
  width: 20%;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  border: solid 5px #d5d6ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.companies-container {
  width: 100%;
  height: 500px;

  margin-bottom: 100px;

  .company-list {
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 30px;
    margin-bottom: 30px;

    .light-blue {
      @include company();
      background-color: #2023fe;
    }

    .dark-blue {
      @include company();
      background-color: #0906b5;
    }
  }
}
