<div class="companies-container">
  <img src="assets/Rectangle 15.png" alt="" class="ml-auto" />
  <div class="company-list">
    <div class="dark-blue" role="button" (click)="routeToList('production')">
      <span>شرکت های تولید کننده</span>
    </div>
    <div class="light-blue" role="button" (click)="routeToList('consumption')">
      <span>شرکت های مصرف کننده</span>
    </div>
    <div class="dark-blue" role="button" (click)="routeToList('exportation')">
      <span>شرکت های صادر کننده</span>
    </div>
    <div class="light-blue" role="button" (click)="routeToList('importation')">
      <span>شرکت های وارد کننده</span>
    </div>
    <div class="dark-blue" role="button" (click)="routeToList('international')">
      <span>شرکت های فعال خارجی</span>
    </div>
  </div>
  <img src="assets/Rectangle 15 copy.png" alt="" />
</div>
