<div class="title">مقاله ها</div>
<div class="publishments-list">
  <app-product-box
    imageUrl="assets/15868565954256.png"
    title="انواع جلبک ها و کاربرد آنها"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
  ></app-product-box>
  <app-product-box
    title="جلبک ها در صنایع غذایی"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
  quaerat corporis commodi"
    imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
  ></app-product-box>
  <app-product-box
    title="جلبک و کشاورزی"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
quaerat corporis commodi"
    imageUrl="assets/1637721819575.png"
  ></app-product-box>
  <app-product-box
    title="انواع جلبک های خاص"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
  quaerat corporis commodi"
    imageUrl="assets/492878632-highlights1615-algaculture-algae-breeding-sulu-sea.png"
  ></app-product-box>
</div>
