<div class="compny-desc-container">
  <div
    class="light-green-box text-2xl min-w-64 max-w-xl h-20 mx-auto justify-center items-center flex mb-10"
  >
    نام شرکت
  </div>
  <div class="flex w-full items-center justify-around text-md  mb-5 mobile:text-xs">
    <span>اطلاعات شرکت</span>
    <span>محصولات(0)</span>
    <span>گالری تصاویر(0)</span>
    <span>افتخارات</span>
    <span>نظرات</span>
  </div>
  <hr />
  <div class="flex flex-row-reverse justify-between w-full mt-10">
    <div>
      <p>:شماره ثبت شرکت</p>
      <p>:نام شرکت نمومه</p>
      <p>:شناسه اصلی</p>
      <p>:نام مدیر عامل</p>
      <p>:سال شروع فعالیت</p>
      <p>:تعداد امضا</p>
      <p>:میزان تحصیلات</p>
      <p>:میزان صادرات</p>
      <p>:میزان تولیدات سالانه</p>
      <p>:آدرس شرکت</p>
      <p>:شماره تماس</p>
      <p>:آدرس ایمیل</p>
      <p>:مشخصات شرکت</p>
    </div>
    <div class="flex flex-col justify-center ml-44 mobile:ml-14">
      <div class="light-green-box w-[100px]">
        <span>بنر شرکت</span>
      </div>
    </div>
  </div>
  <div class="flex justify-around items-center w-full h-32">
    <div class="light-green-box">
      <span>...</span>
    </div>
    <div class="light-green-box">
      <span>...</span>
    </div>
    <div class="light-green-box">
      <span>...</span>
    </div>
    <div class="light-green-box">
      <span>...</span>
    </div>
  </div>
  <div class="flex flex-row-reverse">
    <div>
      <p>محصول تولیدی:1.نمومه1</p>
      <p>:مقیاس تولید</p>
      <p>:مجوز</p>
      <p>:حمایت دریافتی</p>
      <p>:سازمان حمایت کننده</p>
    </div>
  </div>
  <div class="flex flex-row-reverse mt-10">
    <img src="assets/Rectangle 15.png" alt="" />
    <div class="green-box mx-auto">عکس محصولات شرکت</div>
  </div>
  <div class="flex flex-wrap gap-4">
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
    <app-product-box
      title="title"
      description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis
    quaerat corporis commodi"
      imageUrl="assets/spirulina-in-tablet-and-powder-form.png"
    ></app-product-box>
  </div>
  <div class="flex w-full">
    <img src="../../../../assets/Rectangle 15 copy.png" alt="">
  </div>
</div>
