<div class="swiper-container">
  <button class="nav-btn left-10 z-10 " (click)="slidePerv()">
    <img src="../../../../../assets/Vector Smart Object1.png" alt="" />
  </button>
  <swiper [config]="config" #swiper>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <img src="assets/1638241736412.png" alt="" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <img src="assets/1638241736412.png" alt="" />
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <img src="assets/1638241736412.png" alt="" />
      </div>
    </ng-template>
  </swiper>
  <button class="nav-btn right-10 z-10 rotate-180" (click)="slideNext()">
    <img src="../../../../../assets/Vector Smart Object1.png" alt="" />
  </button>
</div>
