<div class="swiper-container">
  <swiper [config]="config" #swiper>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <img src="assets/1638241736412.png" alt="" />
        <div>جلبک در کشاورزی</div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <img src="assets/1638241736412.png" alt="" />
        <div>جلبک در کشاورزی</div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="swiper-slide">
        <img src="assets/1638241736412.png" alt="" />
        <div>جلبک در کشاورزی</div>
      </div>
    </ng-template>
  </swiper>
</div>
