<div class="w-full text-xl font-bold text-center">لینک های مرتبط</div>
<img src="assets/Rectangle 7.png" alt="" />
<div class="links-container">
  <span>زیست-شیمی#</span> 
  <span>سازمان-شیلات#</span>
  <span>ستاد-فناوری#</span>
  <span>انجمن-جلبک#</span>
</div>

<div
  class="footer-container w-full h-52 flex pr-24 pt-12 text-white flex-row-reverse mobile:hidden"
>
  <div class="flex flex-col w-1/4 h-full" dir="rtl">
    <p class="mb-4">راه های ارتباطی</p>
    <p>link</p>
    <p>link</p>
    <p>link</p>
  </div>
  <div class="flex flex-col w-1/4 h-full" dir="rtl">
    <p class="mb-4">دسترسی سریع</p>
    <p>link</p>
    <p>link</p>
    <p>link</p>
  </div>
  <div class="flex flex-col w-1/4 h-full" dir="rtl">
    <p class="mb-4">لینک های مهم</p>
    <p>link</p>
    <p>link</p>
    <p>link</p>
  </div>
</div>
<div class="bg-gray-400 w-full h-14 flex pr-12 pl-32 mobile:pl-10 mobile:pr-5">
  <span class="self-center mr-auto">2022-1401</span>
  <span class="self-center mobile:text-[0.6rem]">تمامی حقوق این سایت مطعلق به شرکت ----- میباشند</span>
</div>
