/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

@import "assets/styles/colors/colors.scss";

@font-face {
  font-family: "yekan";
  src: url("assets/fonts/IRYekanBold.woff.ttf");
}

.full-screen {
  width: 100vw;
}
html,
body {
  margin: 0px;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "yekan";
}
